/* Created by: Grace S
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-02-HTML-AreaPerRectangle
*/

body {
	background-color:#9FE2BF;
}

h1 {
	background-color: rgb(64, 224, 208 );
	color: hsl(0, 0%, 0%);
	padding: 40px;
	text-align: center;
}
button {
	font-size:20px;
}

div {
	font-size:20px;
}

p {
	font-size:30px;
}